/.idea/.gitignore
/.idea/4.iml
/bot/bot.go
/http/cookies.go
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/template/file.go
/http/file_upload.go
/template/func.go
/template/func.html
/http/get.go
/http/static/img/gopher.png
/http/headers.go
/http/http.go
/template/inline.go
/template/method.go
/template/method.html
/.idea/modules.xml
/http/mux.go
/net/net_listen.go
/http/pages.go
/http/post.go
/pprof/pprof_1.go
/pprof/pprof_1.sh
/pprof/pprof_2.go
/readings_4.md
/http/request_test.go
/http/requests.go
/http/servehttp.go
/http/server_test.go
/http/servers.go
/http/static.go
/pprof/tracing.go
/template/users.html
/.idea/vcs.xml
